<nav class="w3-bar w3-red">
    <a href="/" class="w3-bar-item">
        <b>HOME</b>
    </a>
    <a href="/about" class="w3-bar-item">
        <b>ABOUT</b>
    </a>
    <a href="/contacts" class="w3-bar-item">
        <b>CONTACTS</b>
    </a>
</nav>